<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
</head>
<body>
    <div class="flex w-full px-[3%] bg-gray-100 fixed top-0 left-0 z-50 py-4 shadow-sm">
        <div class="flex flex-1 items-center gap-2 ">
            <img src="{% static 'EasyCare.png' %}" alt="" class="w-12 h-12 rounded">
            <a href="" class="text-gray-800 "> 
                <h2 class=" text-xl font-semibold text-blue-600">Easy <span class="text-green-600">Care</span></h2>
                <p class="text-gray-500">Hospital(purnea)</p>
            </a>
        </div>
        <div class="flex flex-1 items-center justify-center ">
            <h1 class="text-xl font-bold text-[#1BC7C7]">Doctor Panel</h1>
        </div>
        <div class="flex flex-1 justify-end  items-center">
            <a href="{% url 'logoutdoctor' %}" class=" font-medium text-red-600">Logout</a>
            <a href="" class="text-xl font-normal items-center text-center rounded py-2 px-3">{{request.user.username}}</a>
        </div>

    </div>
    {% block content %}
      
    {% endblock content %}
    
</body>
</html>