<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

  <div class="min-h-screen flex">
{% load static %}
    <div class="w-2/12 bg-[#064E3B] text-white shadow-md flex flex-col py-10">
      <div class="justify-center flex items-center mb-10">
          <img src="{% static 'EasyCare.png' %}" alt="" class="w-24 h-24 border border-[#1BC7C7] p-1 rounded-full ">
      </div>

      <nav class="flex flex-col gap-4 px-5">
        <a href="{% url 'dashboard' %}" class="hover:bg-[#1BC7C7] hover:text-[#064E3B] rounded px-3 py-2 transition">Dashboard</a>
        <a href="{% url 'totalappointmentlist' %}" class="hover:bg-[#1BC7C7] hover:text-[#064E3B] rounded px-3 py-2 transition">Appointments</a>
        <a href="{% url 'totalpatientlist' %}" class="hover:bg-[#1BC7C7] hover:text-[#064E3B] rounded px-3 py-2 transition">Patients</a>
        <a href="{% url 'totaldoctorlist' %}" class="hover:bg-[#1BC7C7] hover:text-[#064E3B] rounded px-3 py-2 transition">Doctors</a>
        <a href="#" class="hover:bg-[#1BC7C7] hover:text-[#064E3B] rounded px-3 py-2 transition">Payments</a>
        <a href="{% url 'doctorform' %}" class="hover:bg-[#1BC7C7] hover:text-[#064E3B] rounded px-3 py-2 transition">Create Doctor</a>
        <a href="{% url 'departmentform' %}" class="hover:bg-[#1BC7C7] hover:text-[#064E3B] rounded px-3 py-2 transition">Create Department</a>
      </nav>
    </div>

    
    <div class="w-10/12 p-6 space-y-10">

      {% block content %}
        
      {% endblock content %}

    </div>

  </div>

</body>
</html>
