{% extends 'admin/adminheader.html' %}

{% block content %}

<div class="flex flex-1 mt-20">
    <div class="w-full flex bg-gray-50">
        <div class="w-2/12 flex flex-1 ">
            <div class="flex flex-1 p-5 ">
                <div class="flex flex-col gap-2">
                    <a href="" class="text-lg font-medium hover:text-[#1BC7C7]  py-2 px-5">Doctors</a>
                    <a href="" class="text-lg font-medium hover:text-[#1BC7C7]  py-2 px-5">Patient</a>
                    <a href="" class="text-lg font-medium hover:text-[#1BC7C7]  py-2 px-5">Appointment</a>
                </div>
            </div>
        </div>
        <div class="w-10/12 bg-green-200">
            <h2>content</h2>
        </div>

    </div>

</div>
  
{% endblock content %}