{% extends 'user/header.html' %}

{% block content %}
<div class="w-full pb-10 bg-gray-100 mt-4">
    <div class="flex flex-col lg:px-[12%] px-3 lg:py-5 ">
        <div class="flex flex-1 bg-gradient-to-r from-[#1BC7C7] to-[#276969] border rounded-lg mt-8">
            <div class="flex flex-1 md:flex-row flex-col justify-between items-center px-6 py-8">
                <div class="flex flex-col gap-2">
                    <h3 class="text-white text-xl font-semibold ">Book Your Appointment</h3>
                    <p class="text-gray-300 text-sm md:block hidden">Schedule your visit with our specialists</p>
                </div>
                <div class="">
                    <a href="{% url 'patientlogin' %}" class="flex items-center gap-2  ">
                        <svg class="w-4 h-4 text-white dark:text-white " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
                        </svg>
                        <span class="text-sm text-white hover:text-[#1BC7C7]">Already have an Appointment? Check
                            existing appointment</span></a>
                </div>
            </div>
        </div>
        <div class="flex flex-col bg-white border pb-3 rounded-lg mt-5">
            <div class="flex flex-1 justify-between px-5 py-3">

                <h2 class="flex items-center font-medium"> <svg class="w-6 h-6 text-[#1BC7C7] dark:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2"
                            d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    <span>Selected Doctor</span>
                </h2>
                <a href="{% url 'doctorlist' %}" class="text-[#1BC7C7] flex items-center font-medium"> <svg
                        xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15">
                        </path>
                    </svg><span>Change Doctor</span></a>
            </div>
            <div class="flex flex-col  lg:px-10 px-4 py-3">

                <div class="w-full flex border bg-sky-100 p-5 rounded sm:flex-row flex-col">
                    <div class="w-4/12 sm:flex-row justify-center">
                        <div class="flex flex-1 sm:flex-col  items-center ">
                            <img src="{{doctor.image.url}}" alt=""
                                class="lg:size-24 md:size-24 size-14 border p-1 rounded-full border-[#1BC7C7]">
                            <p class="text-lg font-semibold pl-2 ">{{doctor.name}}</p>
                            <p class="text-[#1BC7C7] font-medium pl-2 sm:block hidden">({{doctor.department}})</p>
                        </div>

                    </div>

                    <div class="w-8/12 flex sm:flex-row flex-col ">

                        <div class="w-1/2">
                            <h2 class="hidden sm:flex">Doctor Informations</h2>
                            <div class="flex flex-col gap-4 mt-2">
                                <div class="flex flex-1 gap-2 items-center sm:block hidden">
                                    <p class="p-1 border rounded-full bg-sky-200"><svg
                                            class="w-6 h-6 text-[#1BC7C7] dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                                        </svg></p>
                                    <div class="flex flex-col ">
                                        <p class="text-gray-600 text-sm ">Qualification</p>
                                        <p class="text-gray-800 font-medium px-1">{{doctor.qualification}}</p>
                                    </div>
                                </div>
                                <div class="flex flex-1 gap-2 items-center">
                                    <p class="p-1 border rounded-full bg-sky-200"><svg
                                            class="w-6 h-6 text-[#1BC7C7] dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-6 5h6m-6 4h6M10 3v4h4V3h-4Z" />
                                        </svg></p>
                                    <div class="flex flex-col">
                                        <p class="text-gray-600 text-sm">Department</p>
                                        <p class="text-gray-800 font-medium px-1">{{doctor.department}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/2 mt-4">
                            <div class="flex flex-col gap-4">
                                <div class="flex flex-1 gap-2 items-center">
                                    <p class="p-1 text-[#1BC7C7] border rounded-full bg-sky-200"><svg
                                            class="w-6 h-6 text-[#1BC7C7] dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M8 17.345a4.76 4.76 0 0 0 2.558 1.618c2.274.589 4.512-.446 4.999-2.31.487-1.866-1.273-3.9-3.546-4.49-2.273-.59-4.034-2.623-3.547-4.488.486-1.865 2.724-2.899 4.998-2.31.982.236 1.87.793 2.538 1.592m-3.879 12.171V21m0-18v2.2" />
                                        </svg>
                                    </p>
                                    <div class="flex flex-col">
                                        <p class="text-gray-600">Fees</p>
                                        <p class="text-gray-800 text-lg font-medium px-1">
                                            ₹{{doctor.consultation_fees}}/-</p>
                                    </div>
                                </div>
                                <div class="hidden sm:flex gap-2 items-center ">
                                    <p class="p-1 border rounded-full bg-sky-200"><svg
                                            class="w-6 h-6 text-[#1BC7C7] dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                                        </svg></p>
                                    <div class="flex flex-col ">
                                        <p class="text-gray-600">Available Day</p>
                                        <p class="text-sm text-gray-800 font-medium ">Sunday, Monday, Tuesday,
                                            Wednesday, Thursday, Friday, Saturday</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-1 bg-white border rounded-lg mt-6 py-5">

            <form action="" method="post" class="w-full">
                {% csrf_token %}
                <h2 class="text-xl font-bold justify-center text-center">Book Appointment</h2>
                <div class="flex flex-col mt-2 px-5">
                    <label for="" class="text-gray-800 text-lg font-medium">Select Date</label>
                    <input type="date" name="appointment_date" id="appointment_date" required
                        class="w-full py-2 px-4 rounded-lg border">
                </div>
                <div class="flex flex-col px-4 mt-3">
                    <h2 class="text-gray-800 font-medium text-lg mt-2">Morning Slots</h2>
                    <hr class="mt-1">
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-5 gap-3 mt-2 py-4">
                        <label for=""> 10:00 AM
                            <input type="radio" value="10:00:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 10:30 AM
                            <input type="radio" value="10:30:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 11:00 AM
                            <input type="radio" value="11:00:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 11:30 AM
                            <input type="radio" value="11:30:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                    </div>
                    <h2 class="text-gray-800 font-medium text-lg mt-2">Afternoon Slots</h2>
                    <hr class="mt-1">
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-5 gap-3 mt-2 py-4">
                        <label for=""> 12:00 PM
                            <input type="radio" value="12:00:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 12:30 PM
                            <input type="radio" value="12:30:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 1:00 PM
                            <input type="radio" value="13:00:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 1:30 PM
                            <input type="radio" value="13:30:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 2:00 PM
                            <input type="radio" value="14:00:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 2:30 PM
                            <input type="radio" value="14:30:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 3:00 PM
                            <input type="radio" value="15:00:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 3:30 PM
                            <input type="radio" value="15:30:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                    </div>
                    <h2 class="text-gray-800 font-medium text-lg">Evening Slots</h2>
                    <hr class="mt-1">
                    <div class="grid grid-cols-2  md:grid-cols-3 lg:grid-cols-4 px-5 gap-3 mt-2 py-4">
                        <label for=""> 4:00 PM
                            <input type="radio" value="16:00:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 4:30 PM
                            <input type="radio" value="16:30:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 5:00 PM
                            <input type="radio" value="17:00:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                        <label for=""> 5:30 PM
                            <input type="radio" value="17:30:00" name="appointment_time" id="appointment_time"
                                class="peer " required>
                        </label>
                    </div>
                </div>
                <hr>
                <div class="flex flex-col mt-3 px-5">
                    <label class="text-gray-800 text-lg font-medium">Select Payment Method</label>

                    <div class="flex gap-6 mt-2 mb-3">
                        <label class="flex items-center gap-2">
                            <input type="radio" name="payment_mode" value="online" required>
                            <span>Online Payment</span>
                        </label>

                        <label class="flex items-center gap-2">
                            <input type="radio" name="payment_mode" value="offline" required>
                            <span>Pay at Hospital</span>
                        </label>
                    </div>
                </div>

                <div class="flex flex-1 px-5">

                    <button type="submit"
                        class="w-full bg-blue-600 px-4 text-white py-2 rounded-lg mt-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}