<!-- <div class="w-full mt-20 bg-gray-100">
    <div class="flex flex-1 px-[15%] py-10 ">
        <div class="flex flex-1">
            <form action="" method="post" class="w-full border bg-white mt-1 px-5 py-5 ">
                {% csrf_token %}
                <h2 class="text-xl font-bold">patient details</h2>
                <div class="flex flex-1 mt-5 gap-2">
                    <label for="" class=""> Full name</label>
                        <input type="text" name="fullname" id="fullname" class="w-full border py-2 rounded">
                    <label for="" class=""> Email Address</label>
                        <input type="email" name="email" id="email" class="w-full border py-2 rounded">
                </div>
                <div class="flex flex-1 mt-3 gap-2">
                    <label for="">Phone Number</label>
                    <input type="tel" name="phone" id="phone" class="w-full border py-2 rounded">
                    <label for="">Age</label>
                    <input type="number" name="age" id="age" class="w-full border py-2 rounded">
                </div>
                <label for="" class="mt-3">Gender</label>
                <select name="" id="" class="border py-2 rounded px-5 mt-3">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
                <div class="flex flex-1 mt-3 gap-2">
                <label for="">Address</label>
                <input type="text" name="address" id="address" class="w-full border rounded py-2">
                </div>
                <div class="flex flex-1 mt-3">
                    <label for="">City</label>
                    <input type="text" name="city" id="city" class="w-full border rounded py-2">
                    <label for="">State</label>
                    <input type="text" name="state" id="state" class="w-full border rounded py-2">
                    <label for="">Pin Code</label>
                    input:
                </div>
            </form>
        </div>
    </div>
</div> -->