{% extends 'user/header.html' %}

{% load static %}
{% block content %}
<div class="w-full bg-sky-200 px-5 py-4 mt-20 ">
    <div class="flex flex-1 w-full">
        <div class="w-1/2  flex flex-col px-5 mt-16">
            <h2 class="text-4xl tracking-wider font-semibold text-[#276969]">Compassionate Healthcare</h2>
            <h2 class="text-4xl  mt-2 font-semibold text-[#1BC7C7]">For Your Family</h2>
            <p class="text-md font-normal tracking-wide text-gray-600 mt-4">Experience world-class medical care with our
                team of dedicated specialists and patient-centered ap/our-doctorsproach. Your health is our priority.
            </p>
            <div class="flex mt-5">
                <a href="{% url 'doctorlist' %}" class="inline-flex items-center gap-2 bg-[#1BC7C7] text-white px-4 py-3 text-lg leading-none
              rounded transition-all duration-300 hover:scale-105 hover:shadow-lg">
                    Book Appointment
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                </a>
            </div>

            <div class="flex flex-1 mb-16">
                <div class="flex flex-1 gap-2 items-center">
                    <p class=" text-center bg-sky-50 p-2 rounded-full"><svg
                            class="w-8 h-8 text-[#1BC7C7] dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </p>
                    <div class="flex flex-col">
                        <h1 class="text-xl font-bold ">10+</h1>
                        <p class="text-gray-600 text-lg font-normal">10 Years Experience</p>
                    </div>
                </div>
                <div class="flex flex-1 gap-2 items-center">
                    <p class=" text-center bg-sky-50 p-2 rounded-full"><svg xmlns="http://www.w3.org/2000/svg"
                            class="h-8 w-8 text-[#1BC7C7]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z">
                            </path>
                        </svg>
                    </p>
                    <div class="flex flex-col">
                        <h1 class="text-xl font-bold">5000+</h1>
                        <p class="text-gray-600 text-lg font-normal">Successful Treatments</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="w-1/2 p-4 mt-8">
            <img src="{% static 'doctor.webp' %}" alt="logo" class="rounded-lg">
        </div>
    </div>

</div>

<div class="w-full bg-gray-50">
    <div class="flex flex-col justify-center items-center mb-16 ">
        <p class="mt-10 text-lg font-medium text-[#1BC7C7]">Our Medical Services</p>
        <h1 class="text-5xl font-semibold tracking-wide mt-3">Comprehensive <span
                class="text-[#1BC7C7]">Healthcare</span> Solutions</h1>
        <p class="mt-6 text-gray-600 text-lg ">Delivering excellence in healthcare with cutting-edge medical services
            and </p>
        <span class="text-gray-600 text-lg"> compassionate care</span>
    </div>
    <div class="p-6 ">
        <div class="grid grid-cols-3 gap-6">
            <div
                class="flex flex-col items-center bg-white justify-center border gap-3 px-4 py-6 rounded-lg hover:shadow-lg">
                <p class="bg-sky-100 hover:bg-sky-200 p-5 rounded-lg"><svg xmlns="http://www.w3.org/2000/svg"
                        class="h-10 w-10 text-[#1BC7C7]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
                        </path>
                    </svg></p>
                <h1 class="text-3xl font-semibold hover:text-[#1BC7C7]">Gynecology</h1>
                <p class="text-center">Comprehensive women's healthcare including pregnancy care, fertility treatments,
                    and gynecological
                    surgeries.</p>
            </div>
            <div
                class="flex flex-col items-center bg-white justify-center border gap-3 px-4 py-6 rounded-lg hover:shadow-lg">
                <p class="bg-sky-100 hover:bg-sky-200 p-5 rounded-lg"><svg
                        class="w-8 h-8 text-[#1BC7C7] dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-5-4v4h4V3h-4Z" />
                    </svg>
                </p>
                <h1 class="text-3xl font-semibold hover:text-[#1BC7C7]">Laparoscopic Surgery</h1>
                <p class="text-center">Minimally invasive surgical procedures with faster recovery, less pain, and
                    minimal scarring.</p>
            </div>
            <div
                class="flex flex-col items-center bg-white justify-center border gap-3 px-4 py-6 rounded-lg hover:shadow-lg">
                <p class="bg-sky-100 hover:bg-sky-200 p-5 rounded-lg"><svg
                        class="w-8 h-8 text-[#1BC7C7] dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2m-2.236-4a3 3 0 1 0 0-4M3 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </p>
                <h1 class="text-3xl font-semibold hover:text-[#1BC7C7]">Obstetrics</h1>
                <p class=" text-center ">Complete pregnancy care, including prenatal care, delivery services, and
                    postnatal support.</p>
            </div>

        </div>
    </div>
    <div class="flex flex-1 justify-center mt-5">
        <a href="" class="bg-[#1BC7C7] text-white px-6 text-lg py-4 items-center gap-2  mb-10 rounded-full flex">Explore
            All
            Services <span><svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 12H5m14 0-4 4m4-4-4-4" />
                </svg>
            </span></a>
    </div>

</div>
<div class="w-full">
    <div class="flex flex-col mt-10 ">
        <div class="flex flex-col justify-center text-center">

            <h1 class="text-3xl font-semibold tracking-wide">Meet Our <span class="text-[#1BC7C7]">Healthcare
                    Professionals</span></h1>
            <p class="text-gray-600 font-medium mt-4">Our team of experienced doctors and specialists are committed to
                providing exceptional care</p>
        </div>
        <div class="p-6  mt-10 ">
            <div class="grid grid-cols-4 gap-10  ">

                {% for doctor in doctors %}
                <div
                    class="flex flex-col  bg-white  border  pb-4 rounded-lg hover:shadow-lg transition-all duration-300 hover:scale-105">
                    <img src="{{doctor.image.url}}" alt="" class="w-full h-56 rounded-t-lg">
                    <h1 class="text-xl font-semibold hover:text-[#1BC7C7] px-4 mt-2">{{doctor.name}}</h1>
                    <p class="text-[#1BC7C7] px-4 mt-1">{{doctor.qualification}}</p>
                    <p class="text-[#1BC7C7] px-4 mt-1">{{doctor.department}}</p>
                    <a href="{% url 'appointmentdate' doctor.id %}" class="px-4 mt-2">
                        <p
                            class="inline-flex  bg-[#1BC7C7] items-center justify-center w-full py-2 rounded-lg hover:bg-[#276969] text-white gap-2">
                            <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
                            </svg>
                            <span> Book Appointment</span>
                        </p>
                    </a>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>

{% endblock content %}