{% extends 'user/header.html' %}

{% load static %}
{% block content %}
<div class="w-full bg-gray-200 px-5 py-8 mt-4  ">
    <div class="flex flex-1 w-full">
        <div class="w-1/2  flex flex-col pl-[7%]  mt-16">
            <h2 class="text-xl md:text-4xl md:font-semibold  font-medium text-gray-800">Medical Healthcare</h2>
            <h2 class="text-xl md:text-4xl md:font-semibold  mt-2 font-medium text-gray-800">Center Booking Software
            </h2>
            <p class="md:text-md hidden lg:block font-normal tracking-wide text-gray-600 mt-4 ">for all medical, health
                and wellness businesses</p>
            <div class="flex mt-10">
                <a href="{% url 'patientlogin' %}" class="inline-flex items-center bg-red-600 text-white px-1 py-1 md:text-md text-sm leading-none
              rounded-xl transition-all duration-300 hover:scale-105 hover:shadow-lg md:gap-1  md:px-4 md:py-2">
                    Check Appointment
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                </a>
            </div>

            <div class="flex flex-1 sm:flex-row py-5 mb-10 flex-col mt-2">
                <div class="flex flex-1 gap-3 items-center ">
                    <p class=" text-center bg-sky-50 p-2 rounded-full sm:block hidden"><svg
                            class="w-8 h-8 text-[#1BC7C7] dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </p>
                    <div class="flex flex-col">
                        <h1 class="text-xl font-bold sm:block hidden">10+</h1>
                        <p class="text-gray-600 text-lg font-normal">10 Years Experience</p>
                    </div>
                </div>
                <div class="flex flex-1 gap-2 items-center">
                    <p class=" text-center bg-sky-50 p-2 rounded-full sm:block hidden"><svg
                            xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-[#1BC7C7]" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z">
                            </path>
                        </svg>
                    </p>
                    <div class="flex flex-col">
                        <h1 class="text-xl font-bold">5000+</h1>
                        <p class="text-gray-600 text-lg font-normal">Successful Treatments</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="w-1/2 px-8 py-5 mt-8">
            <img src="{% static 'ala2-remove.png' %}" alt="logo" class="rounded-lg">
        </div>
    </div>

</div>

<div class="w-full bg-gray-50">
    <div class="flex flex-col justify-center items-center py-10  ">

        <p class="mt-6 text-gray-600 md:text-xl text-sm px-4 ">Delivering excellence in healthcare with cutting-edge
            medical services </p>
        <span class="text-gray-600 text-sm md:text-xl">and compassionate care</span>
    </div>
    <div class="p-6 md:px-10">
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 px-[7%] justify-center items-center">

            <!-- Card -->
            <div class=" flex flex-col items-center justify-center bg-white border border-gray-200 rounded-xl p-6
             transition-all duration-300 hover:-translate-y-2 ">

                <div class="flex items-center justify-center w-14 h-14 rounded-full  transition">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-800 transition" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </div>

                <h1 class="mt-4 text-center text-lg font-semibold text-gray-800 transition">
                    Clinic & Doctors
                </h1>
            </div>
            <div class=" flex flex-col items-center justify-center bg-white border border-gray-200 rounded-xl p-6
             transition-all duration-300 hover:-translate-y-2 ">

                <div class="flex items-center justify-center w-14 h-14 rounded-full  transition">
                    <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2m-2.236-4a3 3 0 1 0 0-4M3 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>

                </div>

                <h1 class="mt-4 text-center text-lg font-semibold text-gray-800 transition">
                    Cardiology
                </h1>
            </div>
            <div class=" flex flex-col items-center justify-center bg-white border border-gray-200 rounded-xl p-6
             transition-all duration-300 hover:-translate-y-2 ">

                <div class="flex items-center justify-center w-14 h-14 rounded-full  transition">
                    <svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 18.5A2.493 2.493 0 0 1 7.51 20H7.5a2.468 2.468 0 0 1-2.4-3.154 2.98 2.98 0 0 1-.85-5.274 2.468 2.468 0 0 1 .92-3.182 2.477 2.477 0 0 1 1.876-3.344 2.5 2.5 0 0 1 3.41-1.856A2.5 2.5 0 0 1 12 5.5m0 13v-13m0 13a2.493 2.493 0 0 0 4.49 1.5h.01a2.468 2.468 0 0 0 2.403-3.154 2.98 2.98 0 0 0 .847-5.274 2.468 2.468 0 0 0-.921-3.182 2.477 2.477 0 0 0-1.875-3.344A2.5 2.5 0 0 0 14.5 3 2.5 2.5 0 0 0 12 5.5m-8 5a2.5 2.5 0 0 1 3.48-2.3m-.28 8.551a3 3 0 0 1-2.953-5.185M20 10.5a2.5 2.5 0 0 0-3.481-2.3m.28 8.551a3 3 0 0 0 2.954-5.185" />
                    </svg>

                </div>

                <h1 class="mt-4 text-center text-lg font-semibold text-gray-800 transition">
                    Neurology
                </h1>
            </div>
            <div class=" flex flex-col items-center justify-center bg-white border border-gray-200 rounded-xl p-6
             transition-all duration-300 hover:-translate-y-2 ">

                <div class="flex items-center justify-center w-14 h-14 rounded-full  transition">
                    <svg class="w-[26px] h-[26px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-miterlimit="10" stroke-width="2"
                            d="M16.8879 7.11205c.1788-.77492-.1192-1.66905-.7153-2.26515-1.0133-1.01335-2.5632-1.01335-3.5765 0-1.0134 1.01336-1.0134 2.5632 0 3.57655L8.42342 12.5961c-1.01336-1.0134-2.5632-1.0134-3.57655 0-1.01336 1.0133-1.01336 2.5632 0 3.5765.59609.5961 1.49023.8942 2.26515.7154-.17883.7749.11921 1.669.71531 2.2651 1.01335 1.0134 2.56317 1.0134 3.57657 0 1.0133-1.0134 1.0133-2.5632 0-3.5765l4.1726-4.1727c1.0134 1.0134 2.5632 1.0134 3.5766 0 1.0133-1.0133 1.0133-2.56318 0-3.57654-.5961-.59609-1.4903-.89414-2.2652-.71531Z" />
                    </svg>

                </div>

                <h1 class="mt-4 text-center text-lg font-semibold text-gray-800 transition">
                    Orthopedice
                </h1>
            </div>
            <div class=" flex flex-col items-center justify-center bg-white border border-gray-200 rounded-xl p-6
             transition-all duration-300 hover:-translate-y-2 ">

                <div class="flex items-center justify-center w-14 h-14 rounded-full  transition">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-gray-800 transition" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </div>

                <h1 class="mt-4 text-center text-lg font-semibold text-gray-800 transition">
                    General Practitioner
                </h1>
            </div>
            <div class=" flex flex-col items-center justify-center bg-white border border-gray-200 rounded-xl p-6
             transition-all duration-300 hover:-translate-y-2 ">

                <div class="flex items-center justify-center w-14 h-14 rounded-full  transition">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-gray-800 transition" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </div>

                <h1 class="mt-4 text-center text-lg font-semibold text-gray-800 transition">
                    Dermatologist
                </h1>
            </div>
            <div class=" flex flex-col items-center justify-center bg-white border border-gray-200 rounded-xl p-6
             transition-all duration-300 hover:-translate-y-2 ">

                <div class="flex items-center justify-center w-14 h-14 rounded-full  transition">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-gray-800 transition" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </div>

                <h1 class="mt-4 text-center text-lg font-semibold text-gray-800 transition">
                    Nephrologist
                </h1>
            </div>

        </div>
    </div>

    <div class="flex flex-1 justify-center mt-7">
        <a href="" class="bg-gray-400 text-white px-6 text-lg py-1 items-center gap-2  mb-10 rounded-full flex">Explore
            All
            Services <span><svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 12H5m14 0-4 4m4-4-4-4" />
                </svg>
            </span></a>
    </div>

</div>
<div class="w-full">
    <div class="flex flex-col mt-7 ">
        <div class="flex flex-col justify-center text-center">

            <h1 class="md:text-3xl md:font-semibold text-lg font-medium tracking-wide text-gray-800">Meet Our <span
                    class="text-gray-600">Healthcare
                    Professionals</span></h1>
            <p class="text-gray-600 md:font-medium text-sm mt-4">Our team of experienced doctors and specialists are
                committed to
                providing exceptional care</p>
        </div>
        <div class="p-6  mt-10 ">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 md:gap-6 px-[7%] gap-5">

                {% for doctor in doctors %}
                <div
                    class="flex flex-col  bg-white  border  pb-4 rounded-lg hover:shadow-lg transition-all duration-300 hover:scale-105">
                    <img src="{{doctor.image.url}}" alt="" class="w-full h-56 rounded-t-lg">
                    <h1 class="text-xl font-semibold hover:text-[#1BC7C7] px-4 mt-2">{{doctor.name}}</h1>
                    <p class="text-[#1BC7C7] px-4 mt-1">{{doctor.qualification}}</p>
                    <p class="text-[#1BC7C7] px-4 mt-1">{{doctor.department}}</p>
                    <a href="{% url 'appointmentdate' doctor.id %}" class="px-4 mt-2">
                        <p
                            class="inline-flex  bg-[#1BC7C7] items-center justify-center w-full py-2 rounded-lg hover:bg-[#276969] text-white gap-2">
                            <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z" />
                            </svg>
                            <span> Book Appointment</span>
                        </p>
                    </a>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>
<div class="w-full px-5 py-8 mt-4  ">
    <h2 class=" text-center text-3xl tracking-wider font-semibold px-[5%]">Simplify your business, care for your patients and <span class="text-[#1BC7C7]">reclaim wasted time</span></h2>
    <div class="flex flex-1 w-full mt-10">
        <div class="w-1/2 px-[7%] justify-center items-center">
            <img src="{% static 'medical.png' %}" alt="logo" class="rounded-lg h-105 w-full">
        </div>
        <div class="w-1/2  flex flex-col   mt-16">
            <h2 class="text-xl md:text-4xl md:font-semibold  font-medium text-gray-800">Medical Healthcare</h2>
            <h2 class="text-xl md:text-4xl md:font-semibold  mt-2 font-medium text-gray-800">Center Booking Software
            </h2>
           
        </div>
        
    </div>

</div>

{% endblock content %}