{% extends 'user/header.html' %}

{% block content %}
<div class="flex flex-1 min-h-screen mt-20 bg-gray-50 ">

    <div class="flex flex-col w-full px-[12%] py-5 ">
        <div class="flex flex-1 justify-between">

            <a href="{% url 'homepage' %}" class="mt-3 hover:underline px-3 py-3 text-[#276969] font-medium">Back To Home</a>
        </div>
        <h1 class=" text-center text-[#1BC7C7] items-center justify-center flex text-2xl font-bold">Appointment Details
        </h1>
        <div class="flex flex-col bg-white border rounded-lg py-5 px-10 gap-5  mt-5">
            
            {% for appointment in appointments %}
          
                
            <div class="flex flex-col p-5 gap-3">

                <div class="flex flex-col gap-3">
                    <h2 class="text-lg font-semibold text-gray-500">Doctor Details</h2>
                    <div class="flex flex-1 px-3 justify-between">
                        <p class="text-lg font-normal text-gray-800">{{appointment.doctor.name}}</p>
                        <p class="text-lg font-normal text-gray-800">{{appointment.doctor.department.title}}</p>
                        <p>{{appointment.doctor.consultation_fees}}/-</p>
                    </div>
                </div>
                <hr>
                <div class="flex flex-col gap-3">
                    <h2 class="text-lg font-semibold text-gray-500">Appointment details</h2>
                    <div class="flex flex-1 px-3 justify-between ">
                        <p>Date : <span class="text-gray-500">{{appointment.appointment_date}}</span></p>
                        <p>Time : <span class="text-gray-500">{{appointment.appointment_time}}</span></p>
                        <p>Status : <span class="text-gray-500">{{appointment.status}}</span></p>
                    </div>
                </div>
                <hr>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-1 items-center justify-between">
                        <h2 class="text-lg font-semibold text-gray-500">patient details</h2>
                        
                        {% if forloop.first %}
                        <a href="{% url 'editpatientdetails' appointment.patient_id %}" class="text-lg font-medium text-blue-600 underline">Edit Patient details</a>
                        {% endif %}
                    </div>
                    <div class="flex flex-1 px-3 justify-between gap-5">
                        <p>Name: <span class="text-gray-600">{{appointment.patient.fullname}}</span> </p>
                        <p>Phone: <span class="text-gray-600">{{appointment.patient.phone_number}}</span> </p>
                        <p>Address: <span class="text-gray-600">{{appointment.patient.address}},{{appointment.patient.city}},{{appointment.patient.state}},({{appointment.patient.pincode}})</span></p>
                        
                    </div>
                </div>
            </div>
                  
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}