{% extends 'user/header.html' %}

{% block content %}
 
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<div class="min-h-screen bg-gray-50 mt-20 flex items-center justify-center">
    <div class="w-full max-w-md border border-1 shadow bg-white text-center py-5 rounded-lg">
        <h2 class="text-lg font-bold text-gray-600">Online Payment</h2>
        <button id="rzp-button" type="button" class="text-lg font-medium text-green-600 underline hover:text-green-700">Pay Now</button>
    </div>
</div>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ amount }}",
    "currency": "{{ currency }}",
    "name": "Hospital Appointment",
    "order_id": "{{ payment.razorpay_order_id }}",

    "handler": function (response){
        fetch("/payment_verify/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify(response)
        })
        .then(res => res.json())
        .then(data => {
            if (data.message === 'success'){
                window.location.href = data.redirect_url;
                }
            else {
                alert(data.message);
            }
        })
    }
};

var rzp = new Razorpay(options);
document.getElementById("rzp-button").onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>

 
{% endblock content %}